<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.take.blipchat">

    <application android:allowBackup="false" android:supportsRtl="true">
        <activity
            android:name=".activities.ThreadActivity" />
        <provider
            android:name="net.take.blipchat.providers.BlipChatProvider"
            android:authorities="${applicationId}.blipchat.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>